extends layout

block content

  include navbar.jade
  .container
    #foodGroups.row
      each title, key in categories
        .col-xs-3
          p(class="text-center table-head") #{title}
          select(id="#{key}-list", size="4", class="place-list")
    .row
      #neighborhoods
        ul(id="neighborhoodList", class="list-unstyled")

      #map
      br

      #search
        button(class="btn btn-default",onclick="queryLocations(2)") My Locations
        button(class="btn btn-default",onclick="queryLocations(1)") Search in View

    if profile
      include modals/form.jade

    include modals/about.jade
    include modals/profile.jade
    include modals/signup.jade
    include modals/login.jade


block scripts
  script.
    var recentLocations = !{JSON.stringify(locations)};
    var categories = !{JSON.stringify(categories)};
    var profile = null;

  if profile
    script.
      var profile = !{JSON.stringify(profile)};
  script(src='/javascripts/main.js')
  script(async, defer, src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAYOMRlzJ32KKjQbFrfwCq9SR9AnBmlVKI&callback=initMap')
